/*** MOBILE Styles ***/

/* Body */

body {
    margin: 0;
    padding: 0;
}


/* Headings and Paragraph */

h1 {
    font-size: 3rem;
    position: fixed;
    padding: 20px;
    padding-left: 10%;
    margin-top: 0;
    top: 0;
    width: 100%;
    background-color: #eadbc8;
    z-index: 10;
}

h1 a {
    color: #000;
    text-decoration: none;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.3rem;
    margin-top: 4rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: left;
    padding-left: 8%;
    padding-right: 8%;
}

@media (min-width: 0px) and (max-width: 1023px) {
.menu-wrap {
    position: fixed;
    top: 25px;
    left: 82%;
    z-index: 100;
}
  
.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
  
.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
/* Hamburger Line */

.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 40px;
    height: 3px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
  
/* Hamburger Lines - Top and Bottom */

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -12px;
    width: 100%;
    height: 3px;
    background: inherit;
}
  
/* Moves Line Down */

.menu-wrap .hamburger > div::after {
    top: 12px;
}
  
/* Toggler Animation */

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
  
/* Turns Lines Into X */

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
  
/* Rotate On Hover When Checked */

.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}
  
/* Show Menu */

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
  
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
  
.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
}
  
.menu-wrap .menu {
    background-color: #eadbc8;
    opacity: 95%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
  
.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
  
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #000;
    font-family: 'Amatic SC', cursive;
    font-size: 2.25rem;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    word-spacing: .4rem;
    padding: 1rem;
}
  
.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}  
}

/* Slideshow */

* {box-sizing: border-box}
body {margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin-top: 95px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.slideshow-container img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0px 0px 40px 40px;
}

/* Next & previous buttons */
.prev, .next {
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: 12%;
  padding: 2%;
  padding-right: -2%;
  height: auto;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border-radius: 0 50% 50% 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50% 0 0 50%;
  padding-left: 3.5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.6);
  border-radius: 0 25% 25% 0;
  width: 12%;
}

.next:hover {
    border-radius: 25% 0 0 25%;
}

/* Caption text */
.text {
  color: #000;
  font-size: 1rem;
  padding: 10%;
  position: absolute;
  bottom: 15%;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition-property: background-color, width, height;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.active, .dot:hover {
  background-color: #888888;
  width: 17px;
  height: 17px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Breadcrumb */

.breadcrumb {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 6.5%;
  margin-top: 10px;
  margin-bottom: -2.5rem;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

/* Images */

figure {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 70%;
}

.contentimg {
    border-radius: 55% 0.8% 55% 0.8%;
}

/* Footer */

footer {
    background-color: #eadbc8;
    padding: 1%;
    margin-top: 7%
}

footer p {
    color: black;
    text-align: center;
}


/*** Tablet Version ***/
@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.75rem;
    }

    .menu-wrap {
        top: 25px;
        left: 83%;
    }
      
    .menu-wrap .hamburger {
        width: 55px;
        height: 55px;
    }

    .menu-wrap .hamburger > div {
        width: 55px;
        height: 4px;
    }
 
    .menu-wrap .hamburger > div::before,
    .menu-wrap .hamburger > div::after {
        top: -17px;
        height: 4px;
    }
    
    .menu-wrap .hamburger > div::after {
        top: 17px;
    }
  
    .prev, .next {
        width: 9%;
        font-size: 2.5rem;
    }
  
    .prev:hover, .next:hover {
        width: 9%;
    }

    .slideshow-container img {
        border-radius: 0px 0px 60px 60px;
    }
}

/*** Desktop Version ***/
@media (min-width: 1024px) {
    h1 {
        margin: 0;
        padding: 20px;
        font-size: 3.5rem;
        text-align: center;
        background-color: white;
    }

    h2 {
        font-size: 2.75rem;
    }

    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        color: #000;
        font-family: 'Amatic SC', cursive;
        font-size: 2.25rem;
        letter-spacing: 0.2rem;
        line-height: 3rem;
        word-spacing: .4rem;
        padding: 1rem;
        float: left;
    }
  
    .prev, .next {
        width: 9%;
        font-size: 2.5rem;
    }
  
    .prev:hover, .next:hover {
        width: 9%;
    }

    .slideshow-container img {
        border-radius: 0px 0px 60px 60px;
    }
}